.img {
  text-align: left;
}

.parent {
  display: flex;
  justify-content: right;
  color: gray;
}

.child {
  margin: 0 10px;
  font-weight: lighter;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 30px;
}

.relative {
  position: relative;
}

.relative__img {
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}

.example {
  position: absolute;
  top: 5%;
  left: 30%;
  font-size: 50px;
  color: #b41078;
  font-family: "Indie Flower", cursive;
}

.document {
  top: 5%;
  left: 30%;
  font-size: 70px;
  color: #30b6cf;
  font-family: "Indie Flower", cursive;
}

.second {
  position: absolute;
  top: 50%;
  left: 30%;
  font-size: 18px;
  color: #b41078;
}

.second-txt {
  top: 50%;
  left: 30%;
  font-size: 18px;
  color: #30b6cf;
}

.subtitle {
  margin: 0;
  font-size: 15px;
  color: gray;
  font-weight: lighter;
}

.smlltitle {
  color: #b41078;
  font-family: "Indie Flower", cursive;
  margin-left: 500px;
}

.list {
  color: gray;
  margin-left: 500px;
  margin-top: 10px;
}

.info {
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  border-color: gray;
  height: 10px;
  margin-left: 500px;
  margin-top: 50px;
  font-size: 10px;
  color: gray;
}

.practice__btn {
  width: 100px;
  padding: 2px 10px;
  color: #fff;
  border-radius: 30px;
  background-color: #b41078;
  text-align: center;
  margin: 0 auto 0;
}

.info-txt {
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  height: 10px;
  margin-left: 500px;
  margin-top: 30px;
  font-size: 10px;
  color: gray;
}

.info-txtt {
  border-width: 1px 0px 0px 0px;
  border-bottom: solid 2px grey;
  border-style: solid;
  border-color: gray;
  height: 10px;
  border-bottom: gray;
  margin-left: 500px;
  margin-top: 30px;
  font-size: 10px;
  color: gray;
}
