.img {
  text-align: left;
}

.parent {
  display: flex;
  text-align: right;
  color: gray;
}

.child {
  margin: 0 10px;
  font-weight: lighter;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.relative {
  position: relative;
}

.relative__img {
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}

.example {
  position: absolute;
  top: 5%;
  left: 20%;
  font-size: 30px;
  color: #cf3076;
  font-family: "Indie Flower", cursive;
}

.document {
  top: 5%;
  left: 20%;
  font-size: 50px;
  color: #30b6cf;
  font-family: "Indie Flower", cursive;
}

.second {
  position: absolute;
  top: 0%;
  left: 20%;
  font-size: 18px;
  color: #cf3076;
}

.second-txt {
  top: 0%;
  left: 20%;
  font-size: 18px;
  color: #30b6cf;
}

.subtitle {
  color: gray;
  font-weight: lighter;
}

.smlltitle {
  color: #cf3076;
  font-family: "Indie Flower", cursive;
  margin-left: 350px;
}

.list {
  color: gray;
  margin-left: 350px;
}
