.img {
  text-align: left;
}

.parent {
  display: flex;
  justify-content: space-between;
  color: gray;
}

.child {
  margin: 0 10px;
  font-weight: lighter;
}

.logo {
  width: 100px;
}
.flex {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.relative {
  position: relative;
}

.relative__img {
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}

.example {
  position: absolute;
  top: 5%;
  left: 30%;
  font-size: 50px;
  color: #b41078;
  font-family: "Indie Flower", cursive;
}

.document {
  top: 5%;
  left: 30%;
  font-size: 70px;
  color: #30b6cf;
  font-family: "Indie Flower", cursive;
}

.second {
  position: absolute;
  top: 50%;
  left: 30%;
  font-size: 18px;
  color: #b41078;
}

.second-txt {
  top: 50%;
  left: 30%;
  font-size: 18px;
  color: #30b6cf;
}

.subtitle {
  margin: 0;
  font-size: 15px;
  color: gray;
  font-weight: lighter;
}

.smlltitle {
  color: #b41078;
  font-family: "Indie Flower", cursive;
  margin-left: 500px;
}

.list {
  color: gray;
  margin-left: 500px;
  margin-top: 10px;
}

.local {
  margin-left: 50%;
  padding: 20px 200px;
  margin: 2em a;
  border-color: rgb(170, 168, 168);
  border-top: solid 2px rgb(170, 168, 168);
  border-bottom: solid 2px rgb(170, 168, 168);
  width: 70%;
}

.info {
  border-width: 0 0 1px 0;
  border-style: solid;
  line-height: 30px;
  border-color: rgb(173, 171, 171);
  margin-top: 20px;
  margin: 0 auto;
  font-size: 10px;
  color: gray;
  width: 40%;
}

.practice__btn {
  width: 100px;
  padding: 2px 10px;
  color: #fff;
  border-radius: 30px;
  background-color: #b41078;
  text-align: center;
  margin: 0 auto 0;
}

.list-2 {
  margin-left: 0;
  color: gray;
  font-size: 20px;
}
